
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1f1f1f; /* ダークモード時の背景色 */
    color: #ffffff; /* ダークモード時のテキスト色 */
  }

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
